/Assignments/ass10/.idea/.name
/Assignments/ass10/.idea/ant.xml
/Assignments/ass10/.idea/compiler.xml
/Assignments/ass10/.idea/copyright/profiles_settings.xml
/Assignments/ass10/.idea/encodings.xml
/Assignments/ass10/.idea/misc.xml
/Assignments/ass10/.idea/modules.xml
/Assignments/ass10/.idea/scopes/scope_settings.xml
/Assignments/ass10/.idea/uiDesigner.xml
/Assignments/ass10/.idea/vcs.xml
/Assignments/ass10/.idea/workspace.xml
/Assignments/ass10/ass10.iml
/Assignments/ass10/out

/Assignments/ass10/Answers.zip
