/Assignments/ass10/.idea/.name
/Assignments/ass10/.idea/ant.xml
/Assignments/ass10/.idea/compiler.xml
/Assignments/ass10/.idea/copyright/profiles_settings.xml
/Assignments/ass10/.idea/encodings.xml
/Assignments/ass10/.idea/misc.xml
/Assignments/ass10/.idea/modules.xml
/Assignments/ass10/.idea/scopes/scope_settings.xml
/Assignments/ass10/.idea/uiDesigner.xml
/Assignments/ass10/.idea/vcs.xml
/Assignments/ass10/.idea/workspace.xml
/Assignments/ass10/ass10.iml
/Assignments/ass10/out

/Assignments/ass10/Answers.zip

/Assignments/ass13_andreas/.idea/.name
/Assignments/ass13_andreas/.idea/ant.xml
/Assignments/ass13_andreas/.idea/compiler.xml
/Assignments/ass13_andreas/.idea/copyright/profiles_settings.xml
/Assignments/ass13_andreas/.idea/description.html
/Assignments/ass13_andreas/.idea/encodings.xml
/Assignments/ass13_andreas/.idea/inspectionProfiles/Project_Default.xml
/Assignments/ass13_andreas/.idea/inspectionProfiles/profiles_settings.xml
/Assignments/ass13_andreas/.idea/libraries/scala_library_2_11_4.xml
/Assignments/ass13_andreas/.idea/misc.xml
/Assignments/ass13_andreas/.idea/modules.xml
/Assignments/ass13_andreas/.idea/scopes/scope_settings.xml
/Assignments/ass13_andreas/.idea/uiDesigner.xml
/Assignments/ass13_andreas/.idea/vcs.xml
/Assignments/ass13_andreas/.idea/workspace.xml

/Assignments/ass13_andreas/Assignment_13.iml
/Assignments/ass13_andreas/ass13.zip
/Assignments/ass13_andreas/ass13_andreas.iml

/Assignments/ass13_andreas/lib/akka/akka-actor_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-agent_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-camel_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-cluster_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-contrib_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-dataflow_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-durable-mailboxes-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-file-mailbox_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-kernel_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-mailboxes-common_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-multi-node-testkit_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-persistence-experimental_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-persistence-tck-experimental_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-remote-tests_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-remote_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-slf4j_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-testkit_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-transactor_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/akka-zeromq_2.11-2.3.7.jar
/Assignments/ass13_andreas/lib/akka/camel-core-2.10.3.jar
/Assignments/ass13_andreas/lib/akka/config-1.2.1.jar
/Assignments/ass13_andreas/lib/akka/guava-12.0.jar
/Assignments/ass13_andreas/lib/akka/hamcrest-core-1.3.jar
/Assignments/ass13_andreas/lib/akka/hawtjni-runtime-1.8.jar
/Assignments/ass13_andreas/lib/akka/jna-3.0.9.jar
/Assignments/ass13_andreas/lib/akka/jnr-constants-0.8.2.jar
/Assignments/ass13_andreas/lib/akka/jsr305-1.3.9.jar
/Assignments/ass13_andreas/lib/akka/junit-4.11.jar
/Assignments/ass13_andreas/lib/akka/leveldb-0.5.jar
/Assignments/ass13_andreas/lib/akka/leveldb-api-0.5.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-1.7.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-all-1.7.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-linux32-1.5.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-linux64-1.5.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-osx-1.5.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-win32-1.5.jar
/Assignments/ass13_andreas/lib/akka/leveldbjni-win64-1.5.jar
/Assignments/ass13_andreas/lib/akka/netty-3.8.0.Final.jar
/Assignments/ass13_andreas/lib/akka/protobuf-java-2.5.0.jar
/Assignments/ass13_andreas/lib/akka/scala-continuations-library_2.11-1.0.2.jar
/Assignments/ass13_andreas/lib/akka/scala-reflect-2.11.0.jar
/Assignments/ass13_andreas/lib/akka/scala-stm_2.11-0.7.jar
/Assignments/ass13_andreas/lib/akka/scalatest_2.11-2.1.3.jar
/Assignments/ass13_andreas/lib/akka/slf4j-api-1.7.5.jar
/Assignments/ass13_andreas/lib/akka/uncommons-maths-1.2.2a.jar
/Assignments/ass13_andreas/lib/akka/zeromq-scala-binding_2.11-0.0.7-spark.jar
/Assignments/ass13_andreas/lib/scala-library-2.11.4.jar
/Assignments/ass13_andreas/out/production/ass13_andreas/ABC.class
/Assignments/ass13_andreas/out/production/ass13_andreas/AccountActor.class
/Assignments/ass13_andreas/out/production/ass13_andreas/BankActor.class
/Assignments/ass13_andreas/out/production/ass13_andreas/ClerkActor.class
/Assignments/ass13_andreas/out/production/ass13_andreas/DepositMessage.class
/Assignments/ass13_andreas/out/production/ass13_andreas/IPrintable.class
/Assignments/ass13_andreas/out/production/ass13_andreas/PrintBalanceMessage.class
/Assignments/ass13_andreas/out/production/ass13_andreas/StartTransferMessage.class
/Assignments/ass13_andreas/out/production/ass13_andreas/TransferMessage.class
/Assignments/ass13_andreas/out/production/ass13_andreas/akka-actor.jar
